.weatherContainer{
 z-index: -1;
}

.notification{
  background-color: #f8d7da;
  display: none;
}

.notification p{
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container{
  width: 380px;
  height: 200px;
  /* left: 0; */
  border-radius: 15px 15px 0 0;
  position: fixed;
  /* display: flex; */
  display: block;
  background-color: transparent;
}

.weather-icon{
  width: 380px;
  height: 15px;
}

.weather-icon img{
  display: block;
  margin: 10% auto;

  margin: 0;
  padding: 0;
  
  position: absolute;
  top: 0px;
  left: 10px;
  color: #FFF;
  -webkit-filter: invert(1);
   filter: invert(1);
}

.temperature-value{
  width: 300px;
  height:60px;
  position: absolute;
  color: #FFF;
  font-family: 'Titillium Web', sans-serif;
}

.temperature-value p{
  padding: 0;
  margin-top: 15px;
  margin-left: 100px;
  color: #FFF;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value p:hover{
  
}

.temperature-value span{
  color: #FFF;
  font-size: 0.5em;
}

.temperature-description{
  
}

.temperature-description p{
  /* padding: 8px; */
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 1.2em;

  position: absolute;
  bottom: 50px;
  left: 10px;
  color: #FFF;
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
}

.location{
  
}

.location p{
  margin: 0;
  padding: 0;
  
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}